https://nextcloud.semigroupoid.cloud:443 {
    header Strict-Transport-Security max-age=31536000;
    reverse_proxy nextcloud-aio-apache:11000
}


# Example for Plex Media Server
plex.semigroupoid.cloud {
    reverse_proxy plex:32400
}

pihole.semigroupoid.cloud {
    reverse_proxy pihole:443
}

# To get a certificate for multiple domains
# yourdomain.com, www.yourdomain.com {
#     reverse_proxy your_server_ip:port
# }
